a.small-box{
    text-decoration: none;
}

hr {
    margin-top: 32px;
}
input[type="file"] {
    display: block;
    margin-bottom: 16px;
}
div {
    margin-bottom: 16px;
}
#flash-toggle {
    display: none;
}

#pageloader
{
    background: rgba( 255, 255, 255, 0.8 );
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#pageloader img
{
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}
